table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  padding: 5px 4px;
}

.tarjeta {
  background-color: lightpink;
  border: 9px solid blueviolet;
  align-items: center;
}